body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(225, 78%, 59%, 1);

  background: linear-gradient(
    90deg,
    hsla(225, 78%, 59%, 1) 0%,
    hsla(197, 85%, 51%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(225, 78%, 59%, 1) 0%,
    hsla(197, 85%, 51%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(225, 78%, 59%, 1) 0%,
    hsla(197, 85%, 51%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#456FE8", endColorstr="#19B0EC", GradientType=1 );
}

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .form {
  padding: 20px;
}

.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #2963bf;
}

.form .input-field {
  /* background-color: red; */
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: hsla(221, 95%, 50%, 1);
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: hsla(221, 95%, 50%, 1);
}

.input-field i.icon {
  left: 0;
}

.input-field i.showHidePw {
  right: 0;
}

.form .checkbox-text {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin: 0 8px -2px 4px;
  accent-color: hsla(221, 95%, 50%, 1);
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #551a8b;
  font-size: 14px;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form button {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  outline: none;
  font-size: 16px;
  border: none;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #2963bf;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: hsl(217, 65%, 40%);
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.signup {
  display: grid;
  grid-template-columns: 2;
}

form .form-error {
  color: red; /* Or green for success */
  width: 100%; /* Full width to keep the text centered */
  font-size: 0.8rem;
}

.error-container {
  height: 30px;
  margin-bottom: 0.2rem; /* Original margin */
}
