header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-height: 50px;
}

.form-error {
  padding: 0;
  margin: 0;
  color: red;
  font-size: 0.8rem;
}

.form-success {
  color: green;
}

button {
  margin-top: 1rem;
  width: 200px;
  border-radius: 0.4rem;
}

h1 {
  color: #333;
}
.welcome {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.logout {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
