/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  min-height: 50px;
}

.form-error {
  padding: 0;
  margin: 0;
  color: red;
  font-size: 0.8rem;
}

.form-success {
  color: green;
}

button {
  margin-top: 1rem;
  width: 200px;
  border-radius: 0.4rem;
}

h1 {
  color: #333;
}
.welcome {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.logout {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
} */

* {
  outline: none;
}

body {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: #2963bf;
}

.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}

.logo {
  height: 80px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
  background: #e0e0e058;
}

.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Main Content */

.main-content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}

.header-wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
}

.header-title {
  color: #2963bf;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-box {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: #2963bf;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}

.search-box input {
  background: transparent;
  padding: 10px;
  border: none;
  outline: none;
}

.search-box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease ease-out;
}

.search-box i:hover {
  transform: scale(1.2);
}

/* Table Section */

.tabular-wrapper {
  background: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #2963bf;
  color: #fff;
}

th {
  padding: 15px;
  text-align: left;
}

tbody {
  background: #f2f2f2;
}

td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}

tr:nth-child(even) {
  background: #fff;
}

tfoot {
  background: rgba(113, 99, 186, 255);
  font-weight: bold;
  color: #fff;
}

tfoot td {
  padding: 15px;
}

.table-container button {
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.table-container .edit-button {
  background-color: hsl(120, 50%, 25%);
}

.table-container .delete-button {
  background-color: hsl(0, 60%, 50%);
}

.add-button {
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #2963bf;
  margin-bottom: 1rem;
}

.subjects-button {
  background-color: #2963bf;
}

.main-title {
  color: #2963bf;
  margin-bottom: 1rem;
}

.student-header {
  display: flex;
  justify-content: space-between;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 12% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: 6px;
}

.modal-content-subs {
  margin: 5% auto; /* 15% from the top and centered */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.modal form input {
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}

.modal form button {
  background-color: #2963bf;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.select-container {
  display: flex;
  justify-content: space-between;
}

.select-container-subs {
  display: flex;
  gap: 0.5rem;
}

/* Profile */

.update-profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-details form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}

.profile-details form label {
  display: block;
  font-weight: 500;
}

.profile-details form input {
  height: 30px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 15px;
  border-bottom-width: 2px;
  transition: all 0.3 ease;
}

.profile-details form button {
  background-color: #2963bf;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.profile-pic-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-pic-details {
  text-align: center;
  padding-bottom: 2rem;
}

.profile-pic-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-pic-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-pic-form input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.profile-pic-form input[type="submit"] {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.profile-pic-form p {
  color: red;
  font-size: 0.9rem;
}
